body{
    margin:0px;
    padding:0px;
}
h1{
    font-size:8em;
    font-family:Arial, Helvetica, sans-serif;
    background-color: orange;
    height:125px;
    margin:0px;

}
button{
    padding:50px;
    font-size:2em;
}